#fi {
    display: inline-block;
    text-align: right;
    width: 45%;
    float: right;
}
#en {
    display: inline-block;
    text-align: left;
    width: 45%;
}
#how_to_image {
    text-align: center;
}
.control-label-row {
    width: 100%;
}

#radio-option {
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;	
    vertical-align: middle;
    border-top: 1px dotted lightgray;
}
#radio-option input {
    vertical-align: middle;
}	      	

.form-group {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px; 

}

raiseText()
	color grey
	text-shadow  -1px 1px 0 white
	-moz-text-shadow  -1px 1px 0 white
	-webkit-text-shadow  -1px 1px 0 white

body 
	margin  0
	padding  0
	height  100%
	background rgb(242,249,254)
	background -moz-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%) /* FF3.6+ */
	background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))) /* Chrome,Safari4+ */
	background -webkit-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Chrome10+,Safari5.1+ */
	background -o-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Opera 12+ */
	background -ms-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* IE10+ */
	background radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* W3C */

h2{
	margin: 0 0 6px 0;
	font-weight: bold; 
}

.actionbox {
    background-color: white;
    display: inline-block;
    width: 500px;
    border: 4px solid pink;
    border-radius: 18px; 
    padding: 20px;
    margin: 5px;
    vertical-align: top;
}

h6{
	margin: 2px 0 20px 0;
}

hr{
	margin 14px 0
	border-top: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(255, 255, 255);
}

ul{
	margin: 4px 0 0 0;
}

label, h6 {
	color: #808080;
	font-size: 13px;
	font-weight: normal;
	text-shadow: -1px 1px 0 #fff;
}

.well{
	background: #f8f8f8;
	.tab-title{
		float:left;
		margin-left: 10px;
	}
	.button-top-right{
		float:right;
		margin: 0 10px 20px 0;
	}
	margin-bottom 0;
}

.navbar-btn{
	min-width: 100px
	margin-right: 8px;
	.btn{
		min-width: 100px
	}
}

.glyphicon{
	margin-right: 8px;
}

/*
	login window
*/

#login{
	label{
		margin-left: 2px;
	}
	form{
		/*width:320px;*/
	}
	.controls{
		margin-top: 20px;
		.button-rememember-me{
			float: left;
			width: 150px;
		}
		.button-sign-in{
			float: right;
			width: 120px;
		}
	}
	.btm-links{
		font-size: .9em;
		margin 2px 0 0 0
		#forgot-password{
			float left
			margin-left 10px;
		}
		#create-account{
			float right
			margin-right 5px;
		}
	}
}

#account-form-container{
	form{
		width:460px;
	}
}

#user-statistics-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  
}

.small-audio {
  width: 120px;
}


.chart { 
  width: 300px; 
  display: inline-block;
}

.chart li {
  border-radius: 4px 4px 0 0; /* Remember vendor prefixes */
  box-shadow: 0 1px 0 0 rgba(255,255,255,.6) inset; /* Remember vendor prefixes */
  display: block;
  height: 125px;
  padding: 0px 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}

.chart .axis { 
  display: none;
  top: -25px;
  width: 11%;
 }

.chart .label {
  background: #eaeaea;
  margin: -.6em 0 65px 0;
}
.chart .column-lab {
  background: #eaeaea;
  margin-top: 15px;
  height: 1.2 em;
}
.chart .percent {
  font-size: 30px;
  letter-spacing: -3px;
  opacity: .4;
  width: 100%;
}

.chart .teal {
background: #4ecdc4;
background-image: linear-gradient(#76d8d1, #4ecdc4 70%);
border: 1px solid #4ecdc4;
}

@media (max-width: 700px) {
  border-radius: 2px 2px 0 0; /* Remember vendor prefixes */
 }
@media (min-width: 700px) {
  .chart {
  // background: url("http://cl.ly/QSpc/bg-chart.png") right top repeat-x;
    height: 125px;
    margin: 0 auto -32px;
  }
  .chart li {
    display: inline-block;
    height: 125px;
    margin: 0 1.8% 0 0;
    width: 12%;
  }
  .chart .axis {
    display: inline-block;
  }
  .chart .percent {
    font-size: 40px;
    position: absolute;
  }
  .chart .skill {
    bottom: 20px;
    font-size: 16px;
    position: absolute;
  }
}

@media (min-width: 1000px) {
  .chart .percent {
    font-size: 62px;
  }
}




/*
	modal windows
*/

.modal{
	.modal-dialog{
		width:480px;
	}
	.form-group{
		margin-bottom: 0px;
	}
	.alert{
		margin-top 10px;
		margin-bottom: 0
		padding 8px 15px 8px 15px
	}
	.alert-dismissable, .close{
		right -4px;
	}
	p{
		margin:0;
		padding:0;
	}
	.modal-footer{
		button{
			width:80px;
		}
	}
}

.center-vertical{
	height:100vh;
	form{
		top: 50%;
		margin:auto;
		position: relative;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.form-horizontal{
	.form-buttons{
		float right;
		.btn{
			width 80px
			margin-left 6px
		}
	}
	input, select{
		height 30px
	}
}

		
