#fi {
  display: inline-block;
  text-align: right;
  width: 45%;
  float: right;
}
#en {
  display: inline-block;
  text-align: left;
  width: 45%;
}
#how_to_image {
  text-align: center;
}
.control-label-row {
  width: 100%;
}
#radio-option {
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  vertical-align: middle;
  border-top: 1px dotted #d3d3d3;
}
#radio-option input {
  vertical-align: middle;
}
.form-group {
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 5px;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f2f9fe;
  background: -moz-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* FF3.6+ */;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd)) /* Chrome,Safari4+ */;
  background: -webkit-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* Chrome10+,Safari5.1+ */;
  background: -o-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* Opera 12+ */;
  background: -ms-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* IE10+ */;
  background: radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%) /* W3C */;
}
h2 {
  margin: 0 0 6px 0;
  font-weight: bold;
}
.actionbox {
  background-color: #fff;
  display: inline-block;
  width: 500px;
  border: 4px solid #ffc0cb;
  border-radius: 18px;
  padding: 20px;
  margin: 5px;
  vertical-align: top;
}
h6 {
  margin: 2px 0 20px 0;
}
hr {
  margin: 14px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
ul {
  margin: 4px 0 0 0;
}
label,
h6 {
  color: #808080;
  font-size: 13px;
  font-weight: normal;
  text-shadow: -1px 1px 0 #fff;
}
.well {
  background: #f8f8f8;
  margin-bottom: 0;
}
.well .tab-title {
  float: left;
  margin-left: 10px;
}
.well .button-top-right {
  float: right;
  margin: 0 10px 20px 0;
}
.navbar-btn {
  min-width: 100px;
  margin-right: 8px;
}
.navbar-btn .btn {
  min-width: 100px;
}
.glyphicon {
  margin-right: 8px;
}
/*
	login window
*/
#login label {
  margin-left: 2px;
}
#login .controls {
  margin-top: 20px;
}
#login .controls .button-rememember-me {
  float: left;
  width: 150px;
}
#login .controls .button-sign-in {
  float: right;
  width: 120px;
}
#login .btm-links {
  font-size: 0.9em;
  margin: 2px 0 0 0;
}
#login .btm-links #forgot-password {
  float: left;
  margin-left: 10px;
}
#login .btm-links #create-account {
  float: right;
  margin-right: 5px;
}
#account-form-container form {
  width: 460px;
}
#user-statistics-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
}
.small-audio {
  width: 120px;
}
.chart {
  width: 300px;
  display: inline-block;
}
.chart li {
  border-radius: 4px 4px 0 0; /* Remember vendor prefixes */
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.6) inset; /* Remember vendor prefixes */
  display: block;
  height: 125px;
  padding: 0px 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}
.chart .axis {
  display: none;
  top: -25px;
  width: 11%;
}
.chart .label {
  background: #eaeaea;
  margin: -0.6em 0 65px 0;
}
.chart .column-lab {
  background: #eaeaea;
  margin-top: 15px;
  height: 1.2em;
}
.chart .percent {
  font-size: 30px;
  letter-spacing: -3px;
  opacity: 0.4;
  width: 100%;
}
.chart .teal {
  background: #4ecdc4;
  background-image: linear-gradient(#76d8d1, #4ecdc4 70%);
  border: 1px solid #4ecdc4;
}
@media (max-width: 700px) {
}
@media (min-width: 700px) {
  .chart {
    height: 125px;
    margin: 0 auto -32px;
  }
  .chart li {
    display: inline-block;
    height: 125px;
    margin: 0 1.8% 0 0;
    width: 12%;
  }
  .chart .axis {
    display: inline-block;
  }
  .chart .percent {
    font-size: 40px;
    position: absolute;
  }
  .chart .skill {
    bottom: 20px;
    font-size: 16px;
    position: absolute;
  }
}
@media (min-width: 1000px) {
  .chart .percent {
    font-size: 62px;
  }
}
/*
	modal windows
*/
.modal .modal-dialog {
  width: 480px;
}
.modal .form-group {
  margin-bottom: 0px;
}
.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px;
}
.modal .alert-dismissable,
.modal .close {
  right: -4px;
}
.modal p {
  margin: 0;
  padding: 0;
}
.modal .modal-footer button {
  width: 80px;
}
.center-vertical {
  height: 100vh;
}
.center-vertical form {
  top: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-horizontal .form-buttons {
  float: right;
}
.form-horizontal .form-buttons .btn {
  width: 80px;
  margin-left: 6px;
}
.form-horizontal input,
.form-horizontal select {
  height: 30px;
}
